##cache
.idea
*-locak.json
*.lock

## dist
/dist-chrome/
/dist-chrome-package/
/dist-firefox/
/dist-firefox-package/
/dist-src/
/extension/
/node_modules/
/tests
.yarn/releases/yarn-4.0.0-rc.6.cjs
.yarnrc.yml
